<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meaning Finder</title>
  <style>
    #findMeaningButton {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    #meaning {
      width: 10000px;
      height: 400px;
      border: 1px solid #ccc;
      overflow: auto;
    }
  </style>
  <script src="../popup.js"></script>
</head>
<body>
  <button id="findMeaningButton">Find</button>
  <div id="meaning"></div>
</body>
</html>